<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="font-weight: 700"><i class="ion-settings" style="font-size: 24px" aria-hidden="true"></i>&nbsp;&nbsp;Byapaar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#"><i class="ion-android-add-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add products <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Login</a>-->
            <!--</li>-->

        </ul>

    </div>
</nav>