<div class="row">
    <div class="col-sm">
        <h5>Login to your account</h5>
        <form class="pt-2">
            <div class="form-group input-group">
                <!--<label for="exampleInputEmail1">Email address</label>-->
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="ion-android-person" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group input-group">
                <!--<label for="exampleInputPassword1">Password</label>-->
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="ion-android-lock" aria-hidden="true"></i></span>
                </div>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-success border-radius-none" style="font-weight: 600; font-size: 15px; letter-spacing: 180%!important;">Submit</button>
        </form>
    </div>
</div>