<div class="row">
    <div class="col-sm">
        <header class="text-center">
            <a><i class="ion-settings" style="font-size: 62px; color: #ff6702" aria-hidden="true"></i></a>
            <h2>Welcome to <strong>{{title}}!</strong></h2>
        </header>

       <div class="login-form mx-auto mt-5">

           {{> login}}

       </div>
        <a href="/productsList">Load data</a>
        <ul class="people_list" style="list-style:none">
            {{#each items}}
                {{#each this}}
                    <li><img src="{{this.productImage}}" style="height:auto; width:120px"> {{this.productName}}</li>
                {{/each}}
            {{/each}}
        </ul>

        <div>
            <a href="/insert">insert data</a>
            <h4>{{success}}</h4>
        </div>
    </div>
</div>
