body{
  font-family: 'Lato', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1!important;
}
header h2{
  font-weight: 600;
  color: #333;
  font-size: 26px;
}
section{
  padding: 40px 0;

}
.border-radius-none{
  border-radius: 0px!important;
}
.input-group-text{
  border-right: 0!important;
  border-radius: 0px!important;
}
.form-control{
  border-radius: 0px!important;
}
.form-control:focus{
  border-color: rgba(128, 189, 255, 0.75)!important;
  box-shadow: none!important;
}
.login-form{
  background: #fff;
  width: 35%;
  padding: 30px 60px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 15px 25px rgba(0, 0, 0, 0.2);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 15px 25px rgba(0, 0, 0, 0.2);

}
.login-form h5{
  font-weight: 600;
}
.buttom-border-none{
  border: none!important;
}
.button-col-org{
  background: #ff6702!important;
}
footer{
  position: fixed;
  background: none;
  bottom: 0px;
  width: 100%;
  padding: 10px;
}
footer p{
  margin-bottom: 0!important;
  color: #333;
  font-weight: 600;
  font-size: 13px;
}